<%
var toolbar = config.toolbar || {};
if(!toolbar.disabled){
%>
<md-menu-toolbar md-whiteframe="4"
 class="site-content-toolbar">
	<div class="md-toolbar-tools"
	 ng-cloak>

		<%-await template('layout/toolbar/menu')%>

		<%if(config.languages_toolbar){%>
		<%-await template('layout/languages')%>
		<%}%>

		<%-await template('ui/search')%>

		<span class="flex"></span>

		<div ng-include="viewData.toolbar">
		</div>
		<%-await template('ui/uploader')%>
		<%-await template('layout/toolbar/memory')%>
		<%-await template('layout/toolbar/account')%>


	</div>
</md-menu-toolbar>
<%}%>