<div layout="row"
    class="search-list"
    layout-align="start center">

    <div flex="auto"
        layout="row"
        layout-align="start center"
        ng-hide="sidebar.tool">
        <div class="entry"
            ng-repeat="dir in dirs">
            <md-icon ng-if="$index!=0"
                md-svg-src="<%-get_icon('material/keyboard-arrow-right')%>"></md-icon>
            <span ng-click="openFolder(dir.location)">
                {{dir.name}}
            </span>
        </div>
    </div>

    <div flex="auto"
        layout="row">

        <input flex="auto"
            ng-show="sidebar.tool=='search'"
            ng-model="pageSearch"
            ng-change="onSearch(pageSearch)"
            placeholder="Search"
            aria-label="search page">

        <md-select ng-show="sidebar.tool=='order'"
            placeholder="Order By"
            class="md-no-underline md-raised"
            ng-model="template.order">
            <md-option ng-value="option.value"
                ng-repeat="option in template.orderList">
                {{option.title}}
            </md-option>
        </md-select>

    </div>

    <md-button ng-show="sidebar.tool"
        class="md-primary md-icon-button"
        ng-click="sidebar.tool=null"
        aria-label="close sidebar tool">
        <md-icon md-svg-src="<%-get_icon('material/close')%>"></md-icon>
    </md-button>

    <div ng-hide="sidebar.tool">

        <md-button class="md-primary md-icon-button"
            ng-click="sidebar.tool='order'"
            aria-label="search results">
            <md-icon md-svg-src="<%-get_icon('material/filter-list')%>"></md-icon>
        </md-button>

        <md-button class="md-primary md-icon-button"
            ng-click="sidebar.tool='search'"
            aria-label="search results">
            <md-icon md-svg-src="<%-get_icon('material/search')%>"></md-icon>
        </md-button>

        <md-button class="md-primary md-icon-button"
            ng-click="refresh()"
            aria-label="refresh template">
            <md-icon md-svg-src="<%-get_icon('material/refresh')%>"></md-icon>
        </md-button>

    </div>


</div>