<div ag-media-ctrl
  flex="100"
  layout="column"
  class="dir">

  <%-template('./toolbar')%>

  <div ng-hide="isSearching || searchResults"
    flex="100"
    layout="column">
    <%-template('ui/loader')%>
    <%-template('ui/explorer/directory',{
                  sizes: 'md-cols="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8" md-cols-gt-lg="10" md-cols-gt-xl="12"'
                })%>
  </div>

  <%-template('ui/explorer/search-results')%>
  <%-template('ui/explorer/footer')%>

</div>