<%-await template('dialog/file/toolbar')%>

<div layout="row"
  class="md-padding">
  <%-await template('dialog/file/preview')%>
  <%-await template('dialog/file/fields')%>
</div>

<%-await template('ui/loader')%>
<%-await template('dialog/file/actions')%>
<%-await template('dialog/file/roles')%>
<%-await template('dialog/file/footer')%>