<div class="md-padding"
  layout="column">
  <div layout="row"
    layout-xs="column">
    <%-await template('ui/page-card',{data:get_page('edit/pages')})%>
  </div>
  <div layout="row"
    layout-xs="column">
    <%-await template('ui/page-card',{data:get_page('edit/media-public')})%>
    <%-await template('ui/page-card',{data:get_page('edit/media-private')})%>
  </div>
  <div layout="row"
    layout-xs="column">
    <%-await template('ui/page-card',{data:get_page('edit/data-local')})%>
    <%-await template('ui/page-card',{data:get_page('edit/data-remote')})%>
  </div>
</div>