<%-await template('manager/accounts/toolbar')%>

<div ng-if="viewAccount.deactivated"
  class="action-warn"
  layout="row"
  layout-align="start center">
  <span>Account is deactivated</span>
  <span flex="auto"></span>
  <md-button class="md-raised"
    ng-click="edit.activateAccount()">Activate</md-button>
</div>

<div class="account-view frame ag-margin md-padding"
  ng-show="viewAccount"
  layout="column">
  <%-await template('manager/accounts/overview')%>
  <div class="content"
    layout="column">
    <%-await template('ui/tabs',{name:'tool',list:page.sections})%>
  </div>
</div>

<%-await template('manager/accounts/empty')%>
<%-await template('manager/accounts/toast')%>
<%-await template('manager/accounts/check')%>